 <div class="firstline"  layout="row">
    
       <!-- Start Top bar  -->   
     <div layout = "row" flex style="height: 45px;" >
       <div layout="" flex ="15" layout-align="start center" style="margin-left: 10px;">
         <i class="fa fa-pinterest-p" aria-hidden="true" ng-show="isLogin" style="color:green;"> </i>
         <span style="padding-left: 10px">{{role}}</span>
       </div>
       <!-- End top bar -->
       <div layout="" flex ="70" layout-align="end">
         <md-menu md-offset="0 -7" style="padding-top:0px;">
          <md-button aria-label="Open demo menu"  ng-click="$mdOpenMenu($event)">
            <i class="fa {{iconAuth}}" aria-hidden="true" style="color:green"></i>
            <span>{{authState}}</span>
            <i class="fa fa-chevron-down" aria-hidden="true" style="color:green"></i>
          </md-button>
          <md-menu-content width="2">
            <md-menu-item ng-repeat="auth in authenticate">
              <md-button ng-click="announceClick(auth)"> 
               <i class="fa {{auth.icon}}" aria-hidden="true" style="color:green; margin-right: 5px;"></i>
              <span md-menu-align-target="" >{{auth.authenName}}</span> </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu md-offset="0 -7" style="padding-top:0px;">
          <md-button aria-label="Open demo menu"  ng-click="$mdOpenMenu($event)">
            <i class="fa fa-phone" aria-hidden="true" style="color:green"></i>
            <span>Hỗ trợ: 0123456789 (8h-20h)</span>
            <i class="fa fa-chevron-down" aria-hidden="true" style="color:green"></i>  
          </md-button>
          <md-menu-content width="2">
            <md-menu-item>
                <md-button ng-click="announceClick($index)"> 
                  <span href="">Phương thức vận chuyển</span>
                </md-button>
              </md-menu-item>
            <md-menu-item>
              <md-button ng-click="announceClick($index)"> 
                <span href="">Chính sách đổi trả</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="announceClick($index)"> 
                <span href="">Sử dụng voucher</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="announceClick($index)"> 
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span href=""> hotro@aokhoachcm.com</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="announceClick($index)"> 
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <span> 0903.359.149 (8h-20h kể cả Thứ 7 - Chủ Nhật)</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
       </div>

     </div>
   </div>
  <!-- End Top bar User -->   
 
  <!-- Admin Role Top bar admin -->   
   <div layout = "row" flex style="height: 45px;" ng-show="isAdmin" >
       <div layout="" flex ="20" layout-align="start center" style="margin-left: 0px;">
         <md-button aria-label="Open demo menu"  ng-click="showAddProductDialog($event)" >
            <i class="fa fa-plus-circle" aria-hidden="true" style="color:green;"></i>
             <span style="padding-left: 10px">Thêm sản phẩm</span>
          </md-button>
       </div>
       <div layout="" flex ="20" layout-align="start center" style="margin-left: 0px;">
         <md-button aria-label="Open demo menu"  ng-click="showAddProductDialog($event)" >
            <i class="fa fa-plus-circle" aria-hidden="true" style="color:green;"></i>
             <span style="padding-left: 10px">Quản lý đơn hàng</span>
          </md-button>
       </div>
       <div layout="" flex ="20" layout-align="start center" style="margin-left: 0px;">
         <md-button aria-label="Open demo menu"  ng-click="showAddProductDialog($event)" >
            <i class="fa fa-plus-circle" aria-hidden="true" style="color:green;"></i>
             <span style="padding-left: 10px">Thống kê</span>
          </md-button>
       </div>
     </div>
  <!-- End Admin Role Top bar admin  -->  

   </div>
  <!-- End Top bar  --> 
 
       

  


  <div class="toolbardemoBasicUsage">
   <md-toolbar id="nav1" >
   <div class="md-toolbar-tools" layout="row" layout-align="center center" layout-wrap>
          
          <div layout="row">
            <md-button class="groupX left" ui-sref="home">Thông tin chung</md-button>
            <md-button class="groupX middle"  ui-sref="men">Áo khoác nam</md-button>
            <md-button class="groupX middle" ui-sref="women">Áo khoác nữ</md-button>
            <md-button class="groupX middle" ui-sref="sport">Áo khoác thể thao</md-button>
            <md-button class="groupX right" ui-sref="contact">Liên hệ </md-button>
          </div>

          <div flex="30" class="textbox" layout="row" layout-align="end">
            <md-input-container >
            <label style="color:black">Tìm kiếm</label>
            <input type="text" ng-model="color" required  style="background:#ffffff">
          </md-input-container>
        </div>
      </div>
    </md-toolbar>
  </div> <!--endToolbar-->



  
 <!--   <md-content class="md-padding" layout="row" >
   <div flex="70">
     <img src="assets/images/banner1.png" height="500px">
   </div>
   <md-content flex="" layout-padding="">
      <div layout="column">
      <img src="assets/images/banner3.png" width="100%">
      <img src="assets/images/banner3.png" width="100%">
      </div>
  </md-content>
  </md-content> 
</div> -->


  <div class="bird-box">
      <div ng-show="showCart" class="checkout">
        <label>
          <li ng-repeat="item in cartItems">{{ item.name }}<span>${{ item.price }}</span></li>
          <li class="total-price">Total<span>${{ getTotalPrice(cartItems) }}</span></li>
        </label>
        
      </div><span ng-click="showCart = !showCart" class="fa-3x cart-icon"><i class="fa fa-shopping-cart"></i>
        <div class="circle">
          <div class="circle-inner">
            <div class="score-text">{{ count }}</div>
          </div>
        </div></span>
      <div class="back-bird"></div>
      <div class="logo"></div>
      <div class="fore-bird"></div>
    </div>
          <section class="content container" style="background: #e8e8e8">
          <article>
            <h1 style="color: #1ac6ff; font-size: 30px">Liên hệ</h1>
            <label layout-margin=""  class="infoContact" style="text-align: left;color: black; font-size: 30;"><h3>Áo khoác HCM xin chân thành cám ơn Quý khách đã quan tâm và ủng hộ sản phẩm của chúng tôi.</h3> </label>
            <label layout-margin="" class="infoContact" style="text-align: left;color: black; font-size: 30;"><h3>Rất vui và sẵn sàng phục vụ Quý khách.</h3> </label>
            <hr>
            <ol style="text-align: left; color: blue;">
              <li>Cam kết hàng mới 100%</li>
              <li>Hầu hết hình ảnh được chụp thực tế.</li>
              <li>Hầu hết sản phẩm đã được bán trên Hotdeal, Mua Chung, Cùng Mua… và các trang mua sắm lớn khác nên đã qua kiểm duyệt rất kỹ.</li>
              <li>Hỗ trợ giao tận nơi trong nội thành TP. Hồ Chí Minh.</li>
              <li>Các tỉnh khác chúng tôi có hỗ trợ một phần chi phí chuyển hàng.</li>
              <li>Cung cấp các mặt hàng quần áo thời trang giá sỉ để mở shop.</li>
            </ol>
            <hr>
             <label layout-margin="" class="infoContact" style="color: black; font-size: 30;"><h3>Hotline:<span style="font-size: 30; font-weight: bold;font-style: italic; color: red"> 0903.359.149</span> (Ms.San)</h3> </label>
             <label layout-margin="" class="infoContact" style="color: black; font-size: 30;"><h3>Địa chỉ:<span style="font-size: 30; font-weight: bold;font-style: italic; color: red">
205/21 Âu Cơ, P.5, Q.11, Thành phố Hồ Chí Minh</span></h3> </label>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5006820336653!2d106.64615694997292!3d10.772912262167573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ebe5ff1a0f3%3A0x71c7c081209d71bf!2zMjA1LzIxIMOCdSBDxqEsIHBoxrDhu51uZyA1LCBRdeG6rW4gMTEsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1467609639254" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </article>
      </section>

    <div  layout-padding=""></div>
  <div layout="row" flex>
   <div class="line" flex="20"></div>
   <div class="line" flex="20" style="background:red" flex="20"></div>
   <div class="line" flex="20" style="background:yellow" flex="20"></div>
   <div class="line" flex="20" style="background:black" flex="20"></div>
   <div class="line" flex="20" style="background:green" flex="20"></div>
  </div>
  <div  layout-padding=""  ></div>

  <footer>
    <div layout-align="end start" layout = "row">

      <span style="color: #ffd633;font-size: 20px">KẾT NỐI VỚI CHÚNG TÔI</span>
    </div>
    <div layout="row" layout-align="end start">
       <md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-href="https://www.facebook.com/AoKhoacHCM/" target="_blank">
       <i class="fa fa-facebook" aria-hidden="true"></i>
     </md-button>
     <md-button aria-label="Twitter" class="md-fab md-raised md-mini" ng-href="{{contact.twitterUrl}}" target="_blank">
     <i class="fa fa-twitter" aria-hidden="true"></i>
    </md-button>
    <md-button aria-label="Email" class="md-fab md-mini md-primary" ng-href="hotro@aokhoachcm.com" target="_blank">
    <i class="fa fa-google-plus" aria-hidden="true"></i>
  </div>
 
  <div class="line1" layout-margin></div>
  <div layout="row" flex>
    <div layout="column" flex="30" >
      <img src="https://googledrive.com/host/0B1OeWIZ6N313Slo1eU5TMmtvYU0/logo.png" width="30%" alt="..." >
      <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><h5><span style="font-size: 30px; font-weight: bold;font-style: italic;">B</span>ảo hành 365 ngày</h5> </label>
      <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><h5><span style="font-size: 30px; font-weight: bold;font-style: italic;">S</span>ẵn sàng đổi hoặc hoàn tiền<br>
khi sản phẩm không đạt chất lượng</h5> </label>
      <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><h5><span style="font-size: 30px; font-weight: bold;font-style: italic;">G</span>iặt với sản phẩm cùng màu</h5> </label> 
    </div>
    <div layout="row" flex="40">
       <div layout="column" flex="70"> 
        <label layout-margin="" class="infoContact" style="color: #ffd633; font-size: 30;"><b>Thông tin liên hệ</b></label>
        <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><h5>Đặt hàng và thu tiền tận nơi toàn quốc<br>0903.359.149</h5> </label>
        <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><h5>Than phiền/Chăm sóc khách hàng<br>0903.359.149</h5> </label>
       </div>
       <div layout="column" flex="80">
         <label layout-margin="" class="infoContact" style="color: #ffd633; font-size: 30;"><b>Thông tin</b></label>
        <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><a  href="#" style="color: #ffffff; ">Giới thiệu về AoKhoacHcm.com</a></label>
        <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><a  href="#" style="color: #ffffff; ">Tuyển dụng</a></label>
        <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><a  href="#" style="color: #ffffff; ">AoKhoacHcm's Blog</a></label>
       </div> 
    </div>
    <div layout="column" flex="30">
     <div class="contact" layout="" layout-align="end" >
       <md-card > 
       <label layout-margin="" class="infoContact" style="color: #ffd633; font-size: 30;"><b>FAQ</b></label>
       <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><a  href="#" style="color: #ffffff; ">Vận chuyển</a></label>
      <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><a  href="#" style="color: #ffffff; ">Chính sách đổi trả</a></label>
      <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><a  href="#" style="color: #ffffff; ">Chính sách bảo hành</a></label>
      <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><a  href="#" style="color: #ffffff; ">Khách hàng VIP</a></label>
       <label layout-margin="" class="infoContact" style="color: #ffd633; font-size: 10;"><h5>WEBSITE phát triển bởi:<br> FollowMe Team </h5> </label>
     </md-card>
   </div>
  </div>
  </div>

   <div class="line1" layout-margin></div>
   <label layout-margin="" class="infoContact" style="color: #ffffff; font-size: 10;"><h5>Áo khoác HCM © 2016. All Rights Reserved.</h5> </label>
  </footer>

  
  