.mdl-grid {
  padding: 0!important;
}

#popupContainer {
  position: relative; }

.firstline{
	background: #e8e8e8;
	height: 20%;
}
.mdl-cell {
  background: #e8e8e8;
  padding: 30px 0;
  text-align: center;
  color: #424242;
  font-weight: bold;
}

.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }

.buttondemoBasicUsage md-content {
  margin-right: 7px; }

.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }
  /*slide bar*/
  .tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

/*toolbar*/
.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }
.toolbardemoBasicUsage md-toolbar {
	background: rgb(0, 180, 0);
}

.groupX {
    font-size: 16px;
    margin: 20px 0;
    padding: 3px 15px 3px 15px;
    color: rgb(49, 46, 46);
    background-color: rgb(166, 166, 166);
    text-transform: none;
    font-weight: 400;
    min-width:100px;
}
.md-button.left {
    border-radius: 10px 0 0 10px;
}
.md-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}
.md-button.right {
    border-radius: 0 10px 10px 0;
}
.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

footer {
  background-color: #1F2121
}
.line {
	 height:1px; 
	 background-color: blue;
}
.line1 {
	 height:1px; 
	 background-color:#CFCFCF;
}
.bodyfootter {
	background-image: url("developer.jpg");
	padding-top: 150px;
}
.cetificate {
	height: 350px;
	width: 500px;
	background:#6d0a0a;
	padding-left: 50px;
	color: #ffffff;
}  

#advertising {
 color: white;
 padding-top: 50px;
}
.contact md-card {
	background: #4F5759;
}

/* this is Css for member html*/

.comments{
width:350px;height:550px;line-height:3em;overflow:auto;padding:5px;
}
.email {
	color: #2E1DF0;
}
.title{
	background: #F0F0F0;
    padding-left: 10px;
    padding-top: 10px;
    height: 50px;
}
.avatar{
	padding-top: 20px;
}
.contentcomment{
	height: 5px;
	color: #2E1DF0;
}
.headerbar {
	height: 1000px;
}


#fixSmallNav {
  box-shadow: 1px 2px 9px black;
  position: fixed;
  top: 0;
}







.cart-icon {
  position: relative;
  float: right;
  margin: 10px 50px 0 0;
  cursor: pointer;
}
.cart-icon .circle {
  border-radius: 50%;
  border: 1px solid lightgrey;
  width: 50%;
  position: absolute;
  top: 5px;
  right: -7px;
  background: white;
}
.cart-icon .circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.cart-icon .circle-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
.cart-icon .score-text {
  color: black;
  font-weight: 100;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1em;
  line-height: 1em;
  font-size: 0.2em;
}

.content {
  position: relative;
  z-index: 2;
  background: white;
}
.content article {
  padding: 100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}



.bird-box {
  position: relative;
  height: 600px;
  background-image: url(https://googledrive.com/host/0B1OeWIZ6N313Slo1eU5TMmtvYU0/nen2.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 3;
}


.bird-box label {
  position: absolute;
  top: 65px;
  right: 50px;
  background: #333333;
  width: 300px;
  height: 200px;
  overflow: auto;
  padding-bottom: 10px;
}
.bird-box label li {
  color: white;
  list-style-type: none;
  padding: 10px 5px 10px 10px;
  font-size: 1em;
  font-weight: 100;
}
.bird-box label li.total-price {
  font-size: 1.2em;
  font-weight: bold;
}
.bird-box label li span {
  float: right;
  font-weight: 400;
}



.logo {
  height: 200px;
  width: 100%;
  background-image: url(https://googledrive.com/host/0B1OeWIZ6N313Slo1eU5TMmtvYU0/ten.png);
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -70px;
  z-index: -1;
}

.fore-bird {
  width: 960px;
  height: 733px;
  background-image: url(https://googledrive.com/host/0B1OeWIZ6N313Slo1eU5TMmtvYU0/mau.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 45px;
}

.back-bird {
  width: 960px;
  height: 298px;
  background-image: url(https://googledrive.com/host/0B1OeWIZ6N313Slo1eU5TMmtvYU0/balloon.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px;
}



.clothes-pics {
  margin-bottom: 20px;
}
.clothes-pics .add-button {
  width: 100px;
  height: 25px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  color: white;
  border: 1px solid black;
  background: black;
  transition: opacity 0.5s ease, box-shadow 0.2s ease;
}
.clothes-pics .add-button:hover {
  box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.5);
}
.clothes-pics figure {
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
       
}
.clothes-pics figure.is-showing {
  opacity: 1;
  transform: translateX(0);
}
.clothes-pics figure img {
  display: block;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.clothes-pics figure figcaption {
  width: 120px;
  position: absolute;
  background: black;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -100%;
  color: white;
  padding: 2px 8px;
  font-size: 11px;
  transition: all 0.3s ease-in;
}
.clothes-pics figure:hover figcaption {
  top: 0px;
}
.clothes-pics figure:hover img {
  transform: scale(1.1);
}
.clothes-pics figure:hover .add-button {
  opacity: 1;
}


  
    
   
    .clothes-pics figure.flex-22 {
       max-width: 24% !important;
      
      max-height: 100%;
      box-sizing: border-box;
      flex: 1 1 24%;
    }
     
    
    
    @media (min-width: 600px) and (max-width: 959px) {        
    
      .clothes-pics figure.flex-sm-46 {
        
        max-height: 100%;
        box-sizing: border-box;
        flex: 2 46%;
      }        

    }        
    
   
    @media (max-width: 599px) {        
      .clothes-pics figure.flex-xs-80 {
        flex: 1 80%;
 
      } 
    }        
          
    img {
      max-width: 100%;
    }
   
  }
  
