<!--
<md-dialog aria-label="List dialog">
  <md-dialog-content>
     <div class="firstline"  layout="row">
     <p> Hello toi la thanh</p> <br>
     <p> Hello toi la thanh 2</p>
      </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="cancel()" class="md-primary">Dong
    </md-button>
  </md-dialog-actions>
</md-dialog>
-->
<md-dialog aria-label="Mango (Fruit)"  ng-cloak >
  <form>
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h2>Thêm Sản Phẩm</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-hidden="true" style="{color:green;}"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" layout-align="start start">
          <div id="infoText">
          Vui lòng nhập đầy đủ thông tin sản phẩm<br>
          Cần nhập rõ họ tên sản phẩm, giá sản phẩm, giá giảm, mô tả và hình ảnh.<br>
          Bấm nút làm lại nếu muốn xoá hết các dữ liệu đang nhập hiện tại.
          </div>
          <div layout="row" >  
            <!-- hinh anh -->
            <div  id="hinhAnh" layout="column" layout-align=" start center" flex style="height: 300px; width: 200px; margin-top: 25px; border-radius: 5px; border-style: dashed;  border-width: {{widthBorder}}px; border-color: black;" >
              <img src="{{item.hinhanh}}"  style="height: 300px; width: 200px; border-radius: 5px;" ng-show="isShowImage">
              <div>
                <md-button ngf-select="upload($file)">
                 <i class="fa fa-upload" aria-hidden="true" style="{color:green}">  Chảm để tải ảnh</i>
                </md-button>
              </div>
             </div>
             
            <!-- Thong tin -->
            <div  id="thongTinSanPham" layout="column" style="width: 500px; margin-left: 10px; margin-top: 25px;">

            <!--Radio -->
            <md-radio-group ng-model="item.sex" layout="row">
              <md-radio-button value="Nam" enable="true" class="md-primary">Nam</md-radio-button>
              <md-radio-button value="Nu">Nữ</md-radio-button>
            </md-radio-group>

              <md-input-container flex>
                  <label>Tên sản phẩm</label>
                  <input required ng-model="item.tensp">
                </md-input-container>
                <md-input-container flex>
                  <label>Giá sản phẩm</label>
                  <input required ng-model="item.gia">
                </md-input-container>
                <md-input-container flex>
                  <label>Giá giảm</label>
                  <input required ng-model="item.giagiam">
                </md-input-container>
                <md-input-container flex>
                  <label>Mô tả</label>
                  <textarea required ng-model="item.mota" md-maxlength="500" rows="10" md-select-on-focus></textarea>
                </md-input-container>
             </div>
          </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button  ng-click="putToFirebase()" md-autofocus class="md-raised md-primary">
        Thêm
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Làm lại
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
  
  