<!--
<md-dialog aria-label="List dialog">
  <md-dialog-content>
     <div class="firstline"  layout="row">
     <p> Hello toi la thanh</p> <br>
     <p> Hello toi la thanh 2</p>
      </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="cancel()" class="md-primary">Dong
    </md-button>
  </md-dialog-actions>
</md-dialog>
-->
<md-dialog aria-label="Mango (Fruit)"  ng-cloak >
  <form>
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h2>Thanh toán</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-hidden="true" style="{color:green;}"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div layout="column" style="margin:25px"> 
        <!-- Nội quy -->
        <div layout="column">
          <div id="infoText">
          <ul style="text-align: left;">
              <li>Vui lòng nhập đầy đủ thông tin cần thiết thanh toán</li>
              <li>Thông tin của bạn sẽ được chúng tôi bảo mật</li>
              <li>Thông tin vui lòng chính xác chúng tôi sẽ xác nhận đơn hàng trong vào 12h và giao hàng theo thoả thuận của 2 bên khi xác nhận qua điện thoại</li>
              <li>Nhưng đơn hàng nào có số điện thoại không chính xác hoặc không xác thực được trong vòng 24h sẽ bị huỷ bỏ</li>
          </ul>

          </div>
          <md-divider></md-divider>
          <div layout="column"> 
            <h2>Đơn hàng: </h2> 
            <md-list flex> 
              <div ng-repeat="sp in cardItems" >
                <h3 style="color:blue">Sản phẩm: {{sp.name}} x{{1}}</h3>
                <p style="color:green;">Giá sản phẩm: {{sp.price}} VNĐ</p>
               </div>
            </md-list>
          </div>
          <h4 style="color:red;">Tổng giá trị: {{ getTotalPrice }} VNĐ</h4>
          <p style="color:blue;">Thời gian: {{ timeString }} </p>
          <md-divider></md-divider>
          <h2>Thông tin giao hàng: </h2> 
          
          <md-input-container flex>
                  <label>Họ và Tên</label>
                  <input required ng-model="info.hoten">
          </md-input-container>
          <md-input-container flex>
                  <label>SĐT</label>
                  <input required ng-model="info.sdt">
          </md-input-container>
          <md-input-container flex>
                  <label>Địa chỉ</label>
                  <input required ng-model="info.diachi">
          </md-input-container>
          <md-input-container flex>
                  <label>Ghi chú</label>
                  <input required ng-model="info.ghichu">
          </md-input-container>
      
          <md-divider></md-divider>
          <h2>Lưu ý: </h2>
          <ul>
            <li><h3> Bấm nút làm lại nếu muốn xoá hết các dữ liệu đang nhập hiện tại</h3></li>
            <li><h3> Bấm nút thanh toán nếu hoàn tất.</h3></li>
            <li><h3> Chúng tôi sẽ xác nhận đơn hàng qua SĐT trong vòng 24h và sẽ giao hàng sớm nhất thanh toán tại nơi nhận hàng</h3></li>
          </ul>
          <md-divider></md-divider>
        </div> 
        <!-- Content -->
      </div> 

      <md-dialog-actions layout="row">
        <md-button  ng-click="paymentAction()" md-autofocus class="md-raised md-primary">
          Thanh toán
        </md-button>
        <span flex></span>
        <md-button ng-click="answer('not useful')">
         Làm lại
        </md-button>
      </md-dialog-actions>
    </md-dialog-content>
       
  </form>
</md-dialog>
  
  