<!--
<md-dialog aria-label="List dialog">
  <md-dialog-content>
     <div class="firstline"  layout="row">
     <p> Hello toi la thanh</p> <br>
     <p> Hello toi la thanh 2</p>
      </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="cancel()" class="md-primary">Dong
    </md-button>
  </md-dialog-actions>
</md-dialog>
-->
<md-dialog aria-label="Mango (Fruit)"  ng-cloak >
  <form>
      <md-toolbar >
      <div class="md-toolbar-tools">
        <h2>Xem chi tiết</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-hidden="true" style="{color:green;}"></i>
        </md-button>
      </div>
    </md-toolbar>
      <div layout="column"> 
        <!-- Content -->
        <div layout="row" style="margin-top:25px; margin-left:25px; margin-bottom:25px;"> 
          <img src="{{sp.hinhanh}}" style="width: 200px; height: 300px;">
          <div layout = "column" style="margin-left:25px;"> 
            <div><h2>{{sp.tensp}}</h2></div>
            <div> 
              <p><span style="text-decoration: line-through; color: green; text-align: center;">{{sp.gia}}<span style="font-size: 2;font-weight: bold;">đ</span></span>
                  <span>- {{sp.giagiam}}<span style="font-size: 2;font-weight: bold;">đ</span></span>
            </div>
            <div> {{sp.mota}} </div>
          </div>
        </div> <!--End Content -->

        <!-- Bottom bar -->
        <div layout="row" layout-align="end center"> 
          <md-button class="md-raised md-primary" ng-click="addToCart()">Mua ngay</md-button>
          <md-button ng-show="isAdmin" class="md-raised md-warn" ng-click="delete()">Xoá</md-button>
          
        </div> <!--End Bottom bar -->

      </div>  
  </form>
</md-dialog>
  
  