<!--
<md-dialog aria-label="List dialog">
  <md-dialog-content>
     <div class="firstline"  layout="row">
     <p> Hello toi la thanh</p> <br>
     <p> Hello toi la thanh 2</p>
      </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="cancel()" class="md-primary">Dong
    </md-button>
  </md-dialog-actions>
</md-dialog>
-->
<md-dialog aria-label="Mango (Fruit)"  ng-cloak >
  <form>
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h2>Quản lý đơn hàng</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-hidden="true" style="{color:green;}"></i>
        </md-button>
      </div>
    </md-toolbar>
      <div layout="column"> 
        <!-- Content -->
        <div layout="row""> 
          <md-list flex>
              <md-list-item class="md-3-line" ng-repeat="item in donhang" ng-click="null" style="margin-top:10px;margin-bottom:10px;">
                <div class="md-list-item-text" layout="column">
                  <div layout="row">
                    <!-- Info  -->
                    <div layout="column"> 
                      <h2>Mã đơn hàng: {{ item.madonhang }}</h2>
                      <h4 style="color:red;">Tổng giá trị: {{ item.tonggiatri }} VNĐ</h4>
                      <p style="color:blue;">Thời gian: {{ item.timeString }} </p>
                      <p style="color:green;">SĐT: {{item.sdt}}</p>
                      <p style="font-weight: bold;">Thông tin đơn hàng: </p> <p>{{item.thongtingiaohang }}</p>
                      <p style="font-weight: bold;">Ghi chú: </p> <p>{{ item.ghichu }}</p>
                    </div><!-- End Info  -->
                    <div layout="column" style="margin-top:70px;">  
                      <md-list flex> 
                        <div ng-repeat="sp in item.sanpham" >
                          <h3 style="color:blue">Sản phẩm: {{sp.tensp}} x{{sp.soluong}}</h3>
                          <p style="color:green;">Giá sản phẩm: {{sp.gia}} VNĐ</p>
                          <p style="color:red;">Giá: {{sp.gia*sp.soluong}}</p>
                         </div>
                      </md-list>
                    </div>
                  </div>
                  <div layout="row" layout-align= "start center">
                        <p style="font-weight: bold;">Tình trạng: </p>
                        <md-radio-group ng-model="item.tinhtrang" layout="row" layout-align= "center center"  style="margin-left:25px;" ng-disabled="disableRadio" >
                          <md-radio-button value="dangcho" class="md-primary">Đang chờ</md-radio-button>
                          <md-radio-button value="danggiao"> Đang giao </md-radio-button>
                          <md-radio-button value="dagiao" class="md-warn"> Đã giao </md-radio-button>
                          <md-radio-button value="huy" class="md-accent md-raised md-hue-1">Huỷ</md-radio-button>
                        </md-radio-group>
                  </div> 

                </div>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
        </div> <!--End Content -->
      </div>  
  </form>
</md-dialog>
  
  